@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Zapomniałeś hasła?";
}

<div class="row justify-content-center">
    <div class="col-md-7 p-5 mt-5 border border-1 text-white" style="background-color: #0d0d0d; border-color: goldenrod!important;">
        <h3>@ViewData["Title"]</h3>
        <h5>Wprowadź e-mail.</h5>
        <section>
            <form method="post" class="mt-3">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mb-4">
                    <input asp-for="Input.Email" class="form-control" placeholder="Podaj email" autocomplete="username" aria-required="true" style="background-color: #2B2B2B; color: #DDDDDD;"/>
                    <label asp-for="Input.Email"  class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-dark">Zresetuj hasło</button>
            </form>
        </section>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}


